raspflix-node-red-setup.json
[{"id":"b53d0d09.53869","type":"debug","z":"ca700303.dd248","name":"Debug (just in case)","active":true,"console":"false","complete":"true","x":1187.0000457763672,"y":749.9999694824219,"wires":[]},{"id":"fa95bd72.d3f4a","type":"inject","z":"ca700303.dd248","name":"Execution time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 04 * * *","once":false,"x":120,"y":658.9999694824219,"wires":[["853148e3.de0348"]]},{"id":"82960773.02ca68","type":"function","z":"ca700303.dd248","name":"Read movies individually","func":"var outputMsgs = [], magnet;\nvar downloadable = false;\nmsg.payload.data.movies.forEach(function(movie){\n    movie.genres.forEach(function(genre){\n        downloadable = downloadable || msg.filter.genres[genre];\n    })\n    if(downloadable){\n        movie.torrents.forEach(function(torrent){\n            if(torrent.quality==\"1080p\"){\n                node.send({\"payload\": torrent.url +\" \"+ movie.slug});\n            }\n        })\n        downloadable = false;\n    }\n})\n\nreturn 0;","outputs":1,"noerr":0,"x":875.9999847412109,"y":759.9999694824219,"wires":[["c4b51595.692a78"]]},{"id":"c4b51595.692a78","type":"exec","z":"ca700303.dd248","command":"bash /mnt/moviedrive/deluge/torrentDownloader.sh","addpay":true,"append":"","useSpawn":"","timer":"","name":"Download .torrent file","x":877.9999847412109,"y":813.4999694824219,"wires":[["b53d0d09.53869"],[],[]]},{"id":"f9cf2590.e904d8","type":"http request","z":"ca700303.dd248","name":"Get movies information","method":"GET","ret":"obj","url":"https://yts.ag/api/v2/list_movies.json?quality=1080p&minimum_rating={{filter.general.rating}}&limit={{filter.general.limit}}","tls":"","x":868.9999847412109,"y":708.9999694824219,"wires":[["82960773.02ca68"]]},{"id":"2bd29fec.e7964","type":"ui_form","z":"ca700303.dd248","name":"Ask for parameters","label":"Download parameters","group":"9ec322aa.131da","order":0,"width":"6","height":"2","options":[{"label":"Minimun Rating","value":"rating","type":"number","required":true},{"label":"Max number of movies","value":"limit","type":"number","required":true}],"formValue":{"rating":"","limit":""},"payload":"","topic":"","x":116,"y":235,"wires":[["297311c5.bab53e","8bcdd495.ead4c8","c268b47c.db72f8"]]},{"id":"297311c5.bab53e","type":"file","z":"ca700303.dd248","name":"Save filter options","filename":"/mnt/moviedrive/deluge/options.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","x":365,"y":218,"wires":[]},{"id":"853148e3.de0348","type":"file in","z":"ca700303.dd248","name":"Read filter options","filename":"/mnt/moviedrive/deluge/options.txt","format":"utf8","x":317.99998474121094,"y":713.9999694824219,"wires":[["8cab81fa.c181e"]]},{"id":"7dad3586.37bd9c","type":"comment","z":"ca700303.dd248","name":"Edit filter options","info":"This is used to overwrite the options file\nso you can adapt it without coding","x":106,"y":183,"wires":[]},{"id":"226f27a2.1de3e8","type":"comment","z":"ca700303.dd248","name":"Read the API and download .torrent files","info":"This block reads options.txt file and get the\ntorrents","x":181,"y":604,"wires":[]},{"id":"fd017ebd.0b6","type":"ui_toast","z":"ca700303.dd248","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Show notification message","x":670,"y":158,"wires":[]},{"id":"8bcdd495.ead4c8","type":"ui_text","z":"ca700303.dd248","group":"9ec322aa.131da","order":0,"width":0,"height":0,"name":"","label":"","format":"<small>Minimun rating: </small> {{msg.payload.rating}}<br/> <small> Max movies to add at a time: </small>{{msg.payload.limit}}","layout":"row-center","x":326,"y":272,"wires":[]},{"id":"8cab81fa.c181e","type":"json","z":"ca700303.dd248","name":"","x":331.4999694824219,"y":758.9999694824219,"wires":[["d048e85f.f3eaf8"]]},{"id":"c268b47c.db72f8","type":"function","z":"ca700303.dd248","name":"Create notification message","func":"\nreturn {\"payload\": \"Updated filter options\"};","outputs":1,"noerr":0,"x":391.5,"y":158,"wires":[["fd017ebd.0b6"]]},{"id":"a73e5315.943d4","type":"ui_button","z":"ca700303.dd248","name":"Start now","group":"9ec322aa.131da","order":0,"width":0,"height":0,"label":"Download .torrent files now","color":"","bgcolor":"","icon":"fa-download","payload":"","payloadType":"str","topic":"","x":115.5,"y":804,"wires":[["853148e3.de0348"]]},{"id":"96dd5df7.63a8","type":"comment","z":"ca700303.dd248","name":"https://github.com/Smarina/Raspflix","info":"","x":165.5,"y":55,"wires":[]},{"id":"d413e5b3.93c078","type":"ui_form","z":"ca700303.dd248","name":"Genre filter","label":"Genres","group":"95dd92f6.587f9","order":0,"width":"6","height":"20","options":[{"label":"Action","value":"Action","type":"switch","required":false},{"label":"Adventure","value":"Adventure","type":"switch","required":false},{"label":"Animation","value":"Animation","type":"switch","required":false},{"label":"Biography","value":"Biography","type":"switch","required":false},{"label":"Comedy","value":"Comedy","type":"switch","required":false},{"label":"Crime","value":"Crime","type":"switch","required":false},{"label":"Documentary","value":"Documentary","type":"switch","required":false},{"label":"Drama","value":"Drama","type":"switch","required":false},{"label":"Family","value":"Family","type":"switch","required":false},{"label":"Fantasy","value":"Fantasy","type":"switch","required":false},{"label":"Film-Noir","value":"Film-Noir","type":"switch","required":false},{"label":"History","value":"History","type":"switch","required":false},{"label":"Horror","value":"Horror","type":"switch","required":false},{"label":"Music","value":"Music","type":"switch","required":false},{"label":"Musical","value":"Musical","type":"switch","required":false},{"label":"Mystery","value":"Mystery","type":"switch","required":false},{"label":"Romance","value":"Romance","type":"switch","required":false},{"label":"Sci-Fi","value":"Sci-Fi","type":"switch","required":false},{"label":"Sport","value":"Sport","type":"switch","required":false},{"label":"Thriller","value":"Thriller","type":"switch","required":false},{"label":"War","value":"War","type":"switch","required":false},{"label":"Western","value":"Western","type":"switch","required":false}],"formValue":{"Action":false,"Adventure":false,"Animation":false,"Biography":false,"Comedy":false,"Crime":false,"Documentary":false,"Drama":false,"Family":false,"Fantasy":false,"Film-Noir":false,"History":false,"Horror":false,"Music":false,"Musical":false,"Mystery":false,"Romance":false,"Sci-Fi":false,"Sport":false,"Thriller":false,"War":false,"Western":false},"payload":"","topic":"","x":109.89582824707031,"y":419.8888854980469,"wires":[["6bb8737e.3ac79c","51ea42f7.614fbc","8d4421aa.47a29"]]},{"id":"6bb8737e.3ac79c","type":"file","z":"ca700303.dd248","name":"Save filter options","filename":"/mnt/moviedrive/deluge/filter.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","x":432.89576721191406,"y":414.8888854980469,"wires":[]},{"id":"c1effe57.985b4","type":"ui_toast","z":"ca700303.dd248","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Show notification message","x":854.8957977294922,"y":397.8888854980469,"wires":[]},{"id":"51ea42f7.614fbc","type":"function","z":"ca700303.dd248","name":"Create notification message","func":"\nreturn {\"payload\": \"Updated filter options\"};","outputs":1,"noerr":0,"x":467.3957977294922,"y":366.8888854980469,"wires":[["c1effe57.985b4"]]},{"id":"91b325a1.4ec2b8","type":"ui_text","z":"ca700303.dd248","group":"95dd92f6.587f9","order":0,"width":0,"height":0,"name":"","label":"","format":"<pre>{{msg.payload}} </pre>","layout":"row-center","x":584.8957977294922,"y":508.8888854980469,"wires":[]},{"id":"8d4421aa.47a29","type":"file in","z":"ca700303.dd248","name":"Read filter options","filename":"/mnt/moviedrive/deluge/filter.txt","format":"utf8","x":402.8957824707031,"y":508.888916015625,"wires":[["91b325a1.4ec2b8"]]},{"id":"ff9d1003.14cf3","type":"file in","z":"ca700303.dd248","name":"Read genres options","filename":"/mnt/moviedrive/deluge/filter.txt","format":"utf8","x":574.8957977294922,"y":705.1110534667969,"wires":[["e69f4115.a8876"]]},{"id":"e69f4115.a8876","type":"json","z":"ca700303.dd248","name":"","x":566.8957977294922,"y":762.1110534667969,"wires":[["28092569.66da2a"]]},{"id":"d048e85f.f3eaf8","type":"function","z":"ca700303.dd248","name":"Store filter options","func":"msg.filter = {\"general\": msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":340.8333435058594,"y":807.7778015136719,"wires":[["ff9d1003.14cf3"]]},{"id":"28092569.66da2a","type":"function","z":"ca700303.dd248","name":"Store genre options","func":"msg.filter.genres = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":578.8957977294922,"y":806.1110534667969,"wires":[["f9cf2590.e904d8"]]},{"id":"9ec322aa.131da","type":"ui_group","z":"","name":"Movie downloader configuration","tab":"988b11a2.b0bb","disp":true,"width":"6"},{"id":"95dd92f6.587f9","type":"ui_group","z":"","name":"Genre Filter","tab":"988b11a2.b0bb","disp":true,"width":"6"},{"id":"988b11a2.b0bb","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]