raspflix-node-red-setup.json
[{"id":"95f2c7eb.488478","type":"debug","z":"9da55843.6ae0e8","name":"Debug (just in case)","active":true,"console":"false","complete":"true","x":1050,"y":821,"wires":[]},{"id":"7b88e918.a94e78","type":"inject","z":"9da55843.6ae0e8","name":"Execution time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 05 * * *","once":false,"x":181,"y":440,"wires":[["5c9a7272.3d352c"]]},{"id":"d8c9741c.777d48","type":"function","z":"9da55843.6ae0e8","name":"Read magnet individually","func":"var outputMsgs = [], magnet;\nmsg.payload.data.movies.forEach(function(movie){\n    movie.torrents.forEach(function(torrent){\n        if(torrent.quality==\"1080p\"){\n            node.send({\"payload\": torrent.url +\" \"+ movie.slug});\n        }\n    })\n})\n\nreturn 0;","outputs":1,"noerr":0,"x":702,"y":687,"wires":[["b01e29ec.272a48"]]},{"id":"b01e29ec.272a48","type":"exec","z":"9da55843.6ae0e8","command":"/media/harddrive/tracker/torrentDownloader.sh","addpay":true,"append":"","useSpawn":"","timer":"","name":"Download .torrent file","x":858,"y":756.5,"wires":[["95f2c7eb.488478"],[],[]]},{"id":"88bbabdf.7d7a08","type":"http request","z":"9da55843.6ae0e8","name":"Get each page movies","method":"GET","ret":"obj","url":"https://yts.ag/api/v2/list_movies.json?quality=1080p&minimum_rating={{payload.rating}}&limit={{payload.limit}}","tls":"","x":556,"y":619,"wires":[["d8c9741c.777d48"]]},{"id":"7710a0b2.e00d4","type":"ui_form","z":"9da55843.6ae0e8","name":"Ask for parameters","label":"Download parameters","group":"9ec322aa.131da","order":0,"width":"6","height":"2","options":[{"label":"Minimun Rating","value":"rating","type":"number","required":true},{"label":"Max number of movies","value":"limit","type":"number","required":true}],"formValue":{"rating":"","limit":""},"payload":"","topic":"","x":174,"y":285,"wires":[["5496410.f01f0c","ec92e3b5.e08cf","f769338f.0ecd3"]]},{"id":"5496410.f01f0c","type":"file","z":"9da55843.6ae0e8","name":"Save filter options","filename":"/mnt/moviedrive/rtorrent/options.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","x":423,"y":268,"wires":[]},{"id":"5c9a7272.3d352c","type":"file in","z":"9da55843.6ae0e8","name":"Read filter options","filename":"/mnt/moviedrive/rtorrent/options.txt","format":"utf8","x":337,"y":500,"wires":[["31acfd8b.694de2"]]},{"id":"e2d4d91a.03fd28","type":"comment","z":"9da55843.6ae0e8","name":"Edit filter options","info":"This is used to overwrite the options file\nso you can adapt it without coding","x":164,"y":233,"wires":[]},{"id":"295c134a.4749ac","type":"comment","z":"9da55843.6ae0e8","name":"Read the API and download .torrent files","info":"This block reads options.txt file and get the\ntorrents","x":240,"y":390,"wires":[]},{"id":"f5e8065f.c3f6e8","type":"ui_toast","z":"9da55843.6ae0e8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Show notification message","x":728,"y":208,"wires":[]},{"id":"ec92e3b5.e08cf","type":"ui_text","z":"9da55843.6ae0e8","group":"9ec322aa.131da","order":0,"width":0,"height":0,"name":"","label":"","format":"<small>Minimun rating: </small> {{msg.payload.rating}}<br/> <small> Max movies to add at a time: </small>{{msg.payload.limit}}","layout":"row-center","x":384,"y":322,"wires":[]},{"id":"31acfd8b.694de2","type":"json","z":"9da55843.6ae0e8","name":"","x":452.5,"y":553,"wires":[["88bbabdf.7d7a08"]]},{"id":"f769338f.0ecd3","type":"function","z":"9da55843.6ae0e8","name":"Create notification message","func":"\nreturn {\"payload\": \"Updated filter options\"};","outputs":1,"noerr":0,"x":449.5,"y":208,"wires":[["f5e8065f.c3f6e8"]]},{"id":"c39169fb.948dc8","type":"ui_button","z":"9da55843.6ae0e8","name":"Start now","group":"9ec322aa.131da","order":0,"width":0,"height":0,"label":"Download .torrent files now","color":"","bgcolor":"","icon":"fa-download","payload":"","payloadType":"str","topic":"","x":174.5,"y":590,"wires":[["5c9a7272.3d352c"]]},{"id":"702f264.9d870d8","type":"xmlrpc call","z":"9da55843.6ae0e8","name":"Search Subtitles","method":"NoOperation","client":"5d5dfae1.5c8094","x":674.5,"y":410,"wires":[["cec96435.971228"]]},{"id":"f78e3461.298028","type":"inject","z":"9da55843.6ae0e8","name":"Execution time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 05 * * *","once":false,"x":422,"y":431,"wires":[["702f264.9d870d8"]]},{"id":"cec96435.971228","type":"debug","z":"9da55843.6ae0e8","name":"Debug (just in case)","active":true,"console":"false","complete":"true","x":885,"y":415,"wires":[]},{"id":"6f3f859.206ad7c","type":"comment","z":"9da55843.6ae0e8","name":"https://github.com/Smarina/Raspflix","info":"","x":223.5,"y":105,"wires":[]},{"id":"9ec322aa.131da","type":"ui_group","z":"","name":"Movie downloader configuration","tab":"988b11a2.b0bb","disp":true,"width":"6"},{"id":"5d5dfae1.5c8094","type":"xmlrpc-client","z":"","name":"OpenSubtitles","host":"http://api.opensubtitles.org/xml-rpc","port":"80","path":"/"},{"id":"988b11a2.b0bb","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]